ErrorDocument 404 /index.php?module=erreurs
ErrorDocument 403 /index.php?module=erreurs

Options +FollowSymlinks
RewriteEngine on

# Article sans numéro de page :
RewriteRule ^article-([0-9]+)\.php$   index.php?module=articles&page=$1 [L]

# Pour les smileys :
RewriteRule ^admin/admin/images/smileys/(.*)   admin/images/smileys/$1 [L]

<files .htaccess>
order allow,deny
deny from all
 </files>

 Options -Indexes
