/* Le théme original vient d'ici : http://share.aldarone.fr */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block;}

html{font-size:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:13px;line-height:1.231;}
body, button, input, select, textarea{font-family:sans-serif;color:#222;}

::selection{background:#fe57a1;color:#fff;text-shadow:none;}
a{color:#FF9900;}
a:active, a:hover, a:focus{color:#0066CC;}
a:visited{color:#FF7700;}
a:focus{outline:thin dotted;}
a:hover, a:active{outline:0;}

table img {background: #FF7700;}

b, strong{font-weight:bold;}

p{margin:auto;margin-bottom:4px;}

ul, ol{margin:1em 0;padding:0 0px 0 0px;}

nav ul, nav ol{list-style:none;margin:0;}

nav ul { 
background: #FF7700;
border: medium none currentColor;
border-radius: 6px;
color: #FFFFFF;
list-style: none outside none;
text-decoration: none;
}

body{font:14px/1.4 Ubuntu, sans-serif;background:black url('../images/woven.png');}
#wrapper{width:80%;margin:0 5%;padding:0 5%;background:white;}
footer{padding:10px 5%;width:80%;margin:0 5%;background:white;}
h1{color:#FF9900;}

::selection{background:#FF9900;color:#fff;text-shadow:none;}

nav ul a:hover, nav ul a:active, nav ul a:focus, .paging a:hover, .paging a:active, .paging a:focus{color:black;text-decoration:none;}
nav ul li:first-child a:hover{border-radius:6px 0 0 6px;}
#piedpage{padding-bottom:10px;padding-top:10px;margin:0 5%;}
nav{width:80%;margin:0 5%;padding:0 5%;background:white;}
nav ul{width:95%;height:27px;margin:auto;text-align:center;padding-top:5px;}
nav li{width:100px;text-align:center;padding-bottom:20px;display:inline !important;padding-left:10px;}
nav a{display:inline !important;margin-bottom:10px;color:white;text-align:center;text-decoration:none;}
nav a:hover, nav a:visited{color:white;}
nav a:hover{text-decoration:underline;}

h2{color:#FF7700;text-decoration:underline;margin:5px;}
h1{padding-top:10px;text-align:center;}

article{padding:5px 5px;margin:20px;background:#fff;box-shadow:5px 5px 5px 5px #b1b1b1;word-wrap:break-word;min-height:330px;}

