.coda-slider-wrapper ul {width:400px !important;}

html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
body,
button,
input,
select,
textarea{font-family:sans-serif;}
a:focus{outline:thin dotted;}
a:hover,
a:active{outline:0;}
b,
strong{font-weight:bold;}
ul,
ol{margin-left:0;padding:0 0 0 40px;}
img{border:0;-ms-interpolation-mode:bicubic;}
form{margin:0;}
button,
input,
select,
textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,
input{line-height:normal;}
ul, ol{padding:0;list-style-type:none;}
p{-webkit-hyphens:auto;-moz-hyphens:auto;-epub-hyphens:auto;hyphens:auto;}
b,
strong,
.strong{font-weight:bold;}
.button, .button:visited{border:1px solid #006bbd;border-top-color:#007cdb;border-left-color:#007cdb;padding:4px 12px;color:white;display:inline-block;font-size:17px;font-weight:bold;text-decoration:none;text-shadow:0 1px rgba(0, 0, 0, 0.75);cursor:pointer;margin:0 5px 20px;line-height:21px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;background-color:#0082e6;background-image:-webkit-gradient(linear, left top, left bottom, from(#0090ff), to(#0082e6));background-image:-webkit-linear-gradient(top, #0090ff, #0082e6);background-image:-moz-linear-gradient(top, #0090ff, #0082e6);background-image:-o-linear-gradient(top, #0090ff, #0082e6);background-image:-ms-linear-gradient(top, #0090ff, #0082e6);background-image:linear-gradient(top, #0090ff, #0082e6);-webkit-box-shadow:1px 1px 2px 0 black;-moz-box-shadow:1px 1px 2px 0 black;-ms-box-shadow:1px 1px 2px 0 black;-o-box-shadow:1px 1px 2px 0 black;box-shadow:1px 1px 2px 0 black;}
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus{color:white;border:1px solid #006bbd;border-top-color:#005699;border-left-color:#005699;background-color:#0073cc;background-image:-webkit-gradient(linear, left top, left bottom, from(#0082e6), to(#0073cc));background-image:-webkit-linear-gradient(top, #0082e6, #0073cc);background-image:-moz-linear-gradient(top, #0082e6, #0073cc);background-image:-o-linear-gradient(top, #0082e6, #0073cc);background-image:-ms-linear-gradient(top, #0082e6, #0073cc);background-image:linear-gradient(top, #0082e6, #0073cc);}
.button:active, .button:visited:active{background-color:#0090ff;background-image:-webkit-gradient(linear, left top, left bottom, from(#0082e6), to(#0090ff));background-image:-webkit-linear-gradient(top, #0082e6, #0090ff);background-image:-moz-linear-gradient(top, #0082e6, #0090ff);background-image:-o-linear-gradient(top, #0082e6, #0090ff);background-image:-ms-linear-gradient(top, #0082e6, #0090ff);background-image:linear-gradient(top, #0082e6, #0090ff);}
.coda-slider-wrapper{padding:20px 0;}
.coda-slider-wrapper div, .coda-slider-wrapper span, .coda-slider-wrapper applet, .coda-slider-wrapper object, .coda-slider-wrapper iframe, .coda-slider-wrapper h1, .coda-slider-wrapper h2, .coda-slider-wrapper h3, .coda-slider-wrapper h4, .coda-slider-wrapper h5, .coda-slider-wrapper h6, .coda-slider-wrapper p, .coda-slider-wrapper blockquote, .coda-slider-wrapper pre, .coda-slider-wrapper a, .coda-slider-wrapper abbr, .coda-slider-wrapper acronym, .coda-slider-wrapper address, .coda-slider-wrapper big, .coda-slider-wrapper cite, .coda-slider-wrapper code, .coda-slider-wrapper del, .coda-slider-wrapper dfn, .coda-slider-wrapper em, .coda-slider-wrapper font, .coda-slider-wrapper img, .coda-slider-wrapper ins, .coda-slider-wrapper kbd, .coda-slider-wrapper q, .coda-slider-wrapper s, .coda-slider-wrapper samp, .coda-slider-wrapper small, .coda-slider-wrapper strike, .coda-slider-wrapper strong, .coda-slider-wrapper sub, .coda-slider-wrapper sup, .coda-slider-wrapper tt, .coda-slider-wrapper var, .coda-slider-wrapper b, .coda-slider-wrapper u, .coda-slider-wrapper i, .coda-slider-wrapper center, .coda-slider-wrapper dl, .coda-slider-wrapper dt, .coda-slider-wrapper dd, .coda-slider-wrapper ol, .coda-slider-wrapper ul, .coda-slider-wrapper li, .coda-slider-wrapper fieldset, .coda-slider-wrapper form, .coda-slider-wrapper label, .coda-slider-wrapper legend, .coda-slider-wrapper table, .coda-slider-wrapper caption, .coda-slider-wrapper tbody, .coda-slider-wrapper tfoot, .coda-slider-wrapper thead, .coda-slider-wrapper tr, .coda-slider-wrapper th, .coda-slider-wrapper td{margin:0;padding:0;border:0;box-shadow:none;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
.coda-slider-wrapper ol, .coda-slider-wrapper ul{list-style:none;width:1000px;}
.coda-slider-wrapper .coda-slider{width:1000px;margin:auto;}
.coda-slider-wrapper .coda-slider .panel{width:1000px;}
.coda-slider-wrapper .coda-slider .panel .panel-wrapper{}
.coda-slider-wrapper .coda-nav{}
.coda-slider-wrapper .coda-nav .current{background:#0090ff;}
.coda-slider-wrapper .coda-nav a{background:#000;color:#fff;margin-right:1px;padding:3px 6px;}
.coda-slider-wrapper .coda-nav a:hover{background:#000;color:#fff;text-shadow:none;}
.coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-right{}
.coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a{background:#000;color:#fff;padding:5px;width:100px;}
.arrows .coda-slider{margin:0 10px;}
.coda-slider-wrapper{clear:both;overflow:none;}
.coda-slider-wrapper .coda-slider{padding-top:20px;padding-bottom:20px;float:left;overflow:hidden;position:relative;}
.coda-slider-wrapper .coda-slider .panel-container{position:relative;}
.coda-slider-wrapper .coda-slider .panel-container .panel{display:block;float:left;}
.coda-slider-wrapper .coda-nav{}
.coda-slider-wrapper .coda-nav ul{clear:both;display:block;margin:auto;overflow:hidden;}
.coda-slider-wrapper .coda-nav ul li{display:inline;}
.coda-slider-wrapper .coda-nav ul li a{display:block;float:left;text-decoration:none;}
.coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-right{float:left;}
.coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a{display:none;text-align:center;text-decoration:none;}
.coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-left-arrow{clear:both;}
form{width:1000px;margin:auto;}
h1, h2, h3, h4, h5, h6{margin:10px 0;font-weight:700;color:#222222;font-family:'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;letter-spacing:-1px;}
h2{padding-bottom:10px;font-size:32px;background:url("../img/bg_hr.png") repeat-x bottom;}
p{margin:10px 0 15px 0;}
a{text-decoration:none;color:#007edf;text-shadow:none;transition:color 0.5s ease;transition:text-shadow 0.5s ease;-webkit-transition:color 0.5s ease;-webkit-transition:text-shadow 0.5s ease;-moz-transition:color 0.5s ease;-moz-transition:text-shadow 0.5s ease;-o-transition:color 0.5s ease;-o-transition:text-shadow 0.5s ease;-ms-transition:color 0.5s ease;-ms-transition:text-shadow 0.5s ease;}
a:hover{color:#0069ba;text-shadow:#0090ff 0px 0px 2px;}
footer a:hover{color:#43adff;text-shadow:#0090ff 0px 0px 2px;}
ul, ol, dl{margin-bottom:15px;}
ul li{list-style:inside;padding-left:20px;}
#menu img{padding:5px;margin:20px 10px 1px 10px;}
td,th{padding:10px;border:1px solid #373737;}