html{background:rgb(94, 94, 94);background-repeat: no-repeat; background-attachment:fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;
background-size: cover;}

body{margin:0;auto:0;font: 13px;font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;}

.wz_rte {
    overflow: auto;
	min-height: 200px !important;
    max-height: 200px !important;
}

#dialog_window_minimized_container {
   position: fixed;
   bottom: 0px;
   left: 0px;
}
 
.dialog_window_minimized {
   float: left;
   padding-left: 5px;
   font-size: 12px;
   cursor: pointer;
   margin-right: 2px;
   display: none;
   background: none repeat scroll 0% 0% rgb(50, 50, 50) !important;
   color:white !important;
   border:none !important;
   padding-bottom:5px !important;
}

.dialog_window_minimized:hover {
background: none repeat scroll 0% 0% white !important;
   color:black !important;
}
 
.dialog_window_minimized .ui-icon {
   display: inline-block !important;
   position: relative;
   top: 3px;
   cursor: pointer;
}
 
.ui-dialog .ui-dialog-titlebar-minimize {
    height: 0px;
    width: 19px;
    padding: 1px;
    position: absolute;
    right: 30px;
    top: 0px;
}
 
.ui-dialog .ui-dialog-titlebar-minimize .ui-icon {
   display: block;
   margin: 1px;
}
 
.ui-dialog .ui-dialog-titlebar-minimize:hover, .ui-dialog .ui-dialog-titlebar-minimize:focus {
   padding: 0;
}

#page{margin:auto;}

#header2{bottom:0;position:absolute;width:100%;background:#323232;font-weight: bold;color:white;text-align:center;padding-top:5px;padding-bottom:5px;font-size: 12px;}

#header{background:#323232;font-weight: bold;color:white;text-align:center;padding-top:5px;padding-bottom:5px;font-size: 12px;}

#menu{width:80px;margin-left:20px;}

#menu, #menu a{font-weight: bold;color:white;text-align:center;text-decoration:none;padding-top:5px;padding-bottom:5px;font-size: 12px;margin-top:10px;}

#menu img{padding-left:5px;}

#contenu2 {padding-left:10px;padding-right:15px;padding-top:10px;padding-bottom:10px;width:1000px;margin:auto;}

#pieddepage {background:#EEEEEE;height:10px;margin:auto;}

#erreur {padding-left:38px;color:black;text-align:center;border: 1px solid #F44242;border-radius:4px;background: url("images/erreur.png") 10px 7px no-repeat #F46F6F;min-height: 45px;font-size:15px;font-weight: bold;margin-bottom:10px;}

#valide {padding-left:32px;color:black;text-align:center;border: 1px solid #189F0E;border-radius:4px;background: url("images/valide.png") 10px 7px no-repeat #62B956;min-height: 45px;font-size:15px;font-weight: bold;margin-bottom:10px;}

#info {padding-left:32px;color:black;text-align:center;border: 1px solid #1981FF;border-radius:4px;background: url("images/info.png") 10px 7px no-repeat #80B9FF;min-height: 45px;font-size:15px;font-weight: bold;margin-bottom:10px;}

#pays {padding-left:32px;color:black;text-align:center;border: 1px solid orange;border-radius:4px;background: url("images/pays.png") 10px 7px no-repeat #FDEBAE;min-height: 45px;font-size:15px;font-weight: bold;margin-bottom:10px;}

table {margin:auto;}

form{width:1000px;margin:auto;}

.profil {padding-left:20px;padding-right:2px;}


input.submit:hover, [type="submit"] :hover {
    border: 1px solid rgb(221, 238, 255);
    background: none repeat scroll 0% 0% white;
	color:black;
    cursor: pointer;
    padding: 3px 30px;
    margin: 0px 10px;
}

input.submit, input[type="submit"] {
    border: 1px solid rgb(221, 238, 255);
    background: none repeat scroll 0% 0% black;
	color:white;
    cursor: pointer;
    padding: 3px 30px;
    margin: 0px 10px;
}